@import url(reset.css);
@import url(font.css);
@import url(swiper-bundle.min.css);
@import url(jquery-ui.min.css);
/* colors */
.fc_key {
  color: #5032b7;
}

.fc_blue {
  color: #1e90ff;
}

.fc_red {
  color: #f00;
}

.fc_lblue {
  color: #46b8ff;
}

.fc_orange {
  color: #ff7328;
}

.fc_green {
  color: #50c785;
}

.fc_yellow {
  color: #ff0;
}

.fc_purple {
  color: #3b1e9e;
}

.fc_black {
  color: #000;
}

/* anibox  */
.aniBox {
  position: relative;
  /* type */
  /* delay */
}
.aniBox.ani_fade {
  opacity: 0;
}
.aniBox.ani_fade.gogo {
  opacity: 1;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.aniBox.ani_right {
  opacity: 0;
  transform: translateX(100px);
}
@media (max-width: 768px) {
  .aniBox.ani_right {
    transform: translateX(40px);
  }
}
.aniBox.ani_right.gogo {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.aniBox.ani_left {
  opacity: 0;
  transform: translateX(-100px);
}
@media (max-width: 768px) {
  .aniBox.ani_left {
    transform: translateX(-40px);
  }
}
.aniBox.ani_left.gogo {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.aniBox.ani_top {
  opacity: 0;
  transform: translateY(-100px);
}
@media (max-width: 768px) {
  .aniBox.ani_top {
    transform: translateY(-40px);
  }
}
.aniBox.ani_top.gogo {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.aniBox.ani_bot {
  opacity: 0;
  transform: translateY(100px);
}
@media (max-width: 768px) {
  .aniBox.ani_bot {
    transform: translateY(40px);
  }
}
.aniBox.ani_bot.gogo {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.aniBox.ani_img_scale {
  overflow: hidden;
}
.aniBox.ani_img_scale.reverse img {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
}
.aniBox.ani_img_scale img {
  opacity: 0;
  transform: scale(1.2);
  transition: all 1s ease-in-out;
}
.aniBox.ani_img_scale.gogo img {
  opacity: 1;
  transform: scale(1);
}
.aniBox.ani_cv.bottop::after {
  bottom: auto;
  top: 0;
}
.aniBox.ani_cv.leftright::after {
  right: auto;
  left: 0;
}
.aniBox.ani_cv.leftright.gogo::after {
  width: 0;
  height: 101%;
}
.aniBox.ani_cv.rightleft::after {
  right: 0;
  left: auto;
}
.aniBox.ani_cv.rightleft.gogo::after {
  width: 0;
  height: 101%;
}
.aniBox.ani_cv::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 101%;
  background-color: #fff;
  transition: all 1s ease-in-out;
}
.aniBox.ani_cv.gogo::after {
  height: 0;
}
.aniBox.ani_cv.delay_1::after {
  transition-delay: 0.1s;
}
.aniBox.ani_cv.delay_2::after {
  transition-delay: 0.2s;
}
.aniBox.ani_cv.delay_3::after {
  transition-delay: 0.3s;
}
.aniBox.ani_cv.delay_4::after {
  transition-delay: 0.4s;
}
.aniBox.ani_cv.delay_5::after {
  transition-delay: 0.5s;
}
.aniBox.ani_cv.delay_6::after {
  transition-delay: 0.6s;
}
.aniBox.ani_cv.delay_7::after {
  transition-delay: 0.7s;
}
.aniBox.ani_cv.delay_8::after {
  transition-delay: 0.8s;
}
.aniBox.ani_cv.delay_9::after {
  transition-delay: 0.9s;
}
.aniBox.ani_cv.delay_10::after {
  transition-delay: 1s;
}
.aniBox.delay_1 {
  transition-delay: 0.1s;
}
.aniBox.gogo.delay_1 {
  transition-delay: 0.1s;
}
.aniBox.delay_2 {
  transition-delay: 0.2s;
}
.aniBox.gogo.delay_2 {
  transition-delay: 0.2s;
}
.aniBox.delay_3 {
  transition-delay: 0.3s;
}
.aniBox.gogo.delay_3 {
  transition-delay: 0.3s;
}
.aniBox.delay_4 {
  transition-delay: 0.4s;
}
.aniBox.gogo.delay_4 {
  transition-delay: 0.4s;
}
.aniBox.delay_5 {
  transition-delay: 0.5s;
}
.aniBox.gogo.delay_5 {
  transition-delay: 0.5s;
}
.aniBox.delay_6 {
  transition-delay: 0.6s;
}
.aniBox.gogo.delay_6 {
  transition-delay: 0.6s;
}
.aniBox.delay_7 {
  transition-delay: 0.7s;
}
.aniBox.gogo.delay_7 {
  transition-delay: 0.7s;
}
.aniBox.delay_8 {
  transition-delay: 0.8s;
}
.aniBox.gogo.delay_8 {
  transition-delay: 0.8s;
}
.aniBox.delay_9 {
  transition-delay: 0.9s;
}
.aniBox.gogo.delay_9 {
  transition-delay: 0.9s;
}
.aniBox.delay_10 {
  transition-delay: 1s;
}
.aniBox.gogo.delay_10 {
  transition-delay: 1s;
}

#wrap {
  overflow: hidden;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 9999;
  transition: background-color 0.2s ease-in-out;
}
.header.hover {
  background-color: #fff;
}
.header.hover .logo {
  background-image: url(../../images/logo.svg);
}
.header.hover .nav_link {
  color: #222;
}
.header .logo {
  width: 184px;
  height: 66px;
  background-image: url(../../images/logo_w.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  z-index: 10;
  transition: background-image 0.2s ease-in-out;
}
.header .btn_nav {
  display: none;
  position: relative;
  z-index: 10;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.header .btn_nav .bar_box {
  position: relative;
  width: 21px;
  height: 18px;
}
.header .btn_nav .bar_box .bar {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  right: 0;
  transition: all 0.2s ease-in-out;
}
.header .btn_nav .bar_box .bar.bar_top {
  top: 0;
}
.header .btn_nav .bar_box .bar.bar_mid {
  top: 8px;
}
.header .btn_nav .bar_box .bar.bar_bot {
  top: 16px;
}
.header .btn_nav.on .bar_box .bar.bar_top {
  top: 8px;
  transform: rotate(45deg);
}
.header .btn_nav.on .bar_box .bar.bar_mid {
  width: 0;
}
.header .btn_nav.on .bar_box .bar.bar_bot {
  top: 8px;
  transform: rotate(-45deg);
}
.header .nav_list {
  display: flex;
  align-items: center;
}
.header .nav_link {
  display: block;
  position: relative;
  padding: 0 50px;
  font-size: 24px;
  line-height: 120px;
  color: #fff;
  transition: color 0.2s ease-in-out;
  font-weight: normal;
}
.header .nav_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0%;
  height: 4px;
  background-color: #5032b7;
  transition: width 0.2s ease-in-out;
}
.header .nav_link:hover {
  font-weight: bold;
  color: #5032b7;
}
.header .nav_link:hover::after {
  width: 100%;
}
.header .nav_btn_dep2, .header .nav_dep2 {
  display: none;
}
.header.sub {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.header.sub .logo {
  background-image: url(../../images/logo.svg);
}
.header.sub .nav_link {
  color: #222;
}
.header.sub .nav_link::after {
  background-color: #5032b7;
}
.header.sub .nav_link:hover {
  color: #5032b7;
}
.header.sub .nav_link.on {
  color: #5032b7;
  font-weight: bold;
}
.header.sub .btn_nav .bar_box .bar {
  background-color: #222;
}
.header.on .btn_nav .bar_box .bar {
  background-color: #222;
}

.body_main {
  background-color: #000;
}

.container.sub {
  padding-top: 120px;
}

.inner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 50px;
}

.sub_sec {
  padding: 80px 0;
}
.sub_sec.bg_grey {
  background-color: #f8f8f8;
}
.sub_sec.bg_sblue {
  position: relative;
}
.sub_sec.bg_sblue::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 231px;
  background-color: #ebf0ff;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.sub_sec.ty_contact {
  position: relative;
  padding: 80px 0 120px;
  overflow: hidden;
}
.sub_sec.ty_contact::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background-color: #ebf0ff;
}

.bg_box {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(../../images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transform: scale(1.2);
  transition: transform 3s ease-out;
}
.bg_box.gogo {
  transform: scale(1);
}
.bg_box.gogo::before {
  opacity: 0;
}
.bg_box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.6;
  transition: opacity 1s ease-in-out;
}
.bg_box img, .bg_box video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  touch-action: none;
  pointer-events: none;
}

.main_txt {
  position: fixed;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  z-index: 10;
  text-align: center;
}
.main_txt .m_only {
  display: none;
}
.main_txt_tit {
  font-size: 60px;
  line-height: 1.6;
  letter-spacing: -0.01em;
  font-weight: normal;
}
.main_txt_tit b {
  font-weight: bold;
}
.main_txt_desc {
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-top: 0.75em;
}

.tit_set {
  margin-bottom: 60px;
}
.tit_set .tit1 {
  font-size: 34px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #5032b7;
}
.tit_set .tit1 + .desc {
  margin-top: 30px;
}
.tit_set .tit2 {
  font-size: 26px;
  line-height: 1.5;
}
.tit_set .desc {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #666;
  margin-top: 20px;
}

.col_list {
  display: flex;
  flex-wrap: wrap;
}
.col_list2 .col {
  width: 50%;
}
.col_list3 .col {
  width: 33.3333333333%;
}
.col_list4 .col {
  width: 25%;
}
.col_list5 .col {
  width: 20%;
}
.col_list6 .col {
  width: 16.6666666667%;
}
.col_list7 .col {
  width: 14.2857142857%;
}
.col_list8 .col {
  width: 12.5%;
}
.col_list9 .col {
  width: 11.1111111111%;
}
.col_list10 .col {
  width: 10%;
}

.card_list {
  margin: 0 -10px;
}
.card_item {
  padding: 0 10px;
  box-sizing: border-box;
  /* delay */
}
.card_item.gogo.delay_1 {
  transition-delay: 0.1s;
}
.card_item.gogo.delay_2 {
  transition-delay: 0.2s;
}
.card_item.gogo.delay_3 {
  transition-delay: 0.3s;
}
.card_item.gogo.delay_4 {
  transition-delay: 0.4s;
}
.card_item.gogo.delay_5 {
  transition-delay: 0.5s;
}
.card_item.gogo.delay_6 {
  transition-delay: 0.6s;
}
.card_item.gogo.delay_7 {
  transition-delay: 0.7s;
}
.card_item.gogo.delay_8 {
  transition-delay: 0.8s;
}
.card_item.gogo.delay_9 {
  transition-delay: 0.9s;
}
.card_item.gogo.delay_10 {
  transition-delay: 1s;
}
.card_box {
  overflow: hidden;
  background-color: #fff;
}
.card_box:hover .card_img img {
  transform: scale(1.04);
}
.card_box.ty_border {
  height: 100%;
  border: 1px solid #c8d6ff;
  border-radius: 20px;
}
.card_img {
  overflow: hidden;
}
.card_img.ty_radius {
  border-radius: 20px;
}
.card_img img {
  transition: all 0.4s ease-in-out;
  width: 100%;
}
.card_txt {
  text-align: center;
  padding-top: 25px;
}
.card_txt.ty2 {
  padding: 24px 20px 35px;
}
.card_txt.ty2 .card_tit {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  color: #3b1e9e;
}
.card_txt.ty2 .card_desc {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 15px;
  color: #666;
}
.card_tit {
  font-size: 24px;
  line-height: 1.5;
  color: #222;
}
.card_desc {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.01em;
  color: #666;
}

.dsc_info {
  display: flex;
}
.dsc_info_item {
  width: 50%;
}
.dsc_info_item {
  text-align: center;
}
.dsc_info_tit {
  margin-top: 12px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #666;
  font-weight: bold;
}
.dsc_info_year {
  margin-top: 35px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #666;
}
.dsc_info_count {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
}
.dsc_info_count .count_box {
  font-size: 60px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -0.04em;
  margin-right: 0.1em;
}
.dsc_info_count .count_unit {
  font-size: 20px;
  line-height: 2;
}

.dsc_bot {
  border-top: 1px solid #ebebeb;
  padding: 30px 0;
  position: relative;
  background-color: #fff;
  z-index: 10;
}
.dsc_bot.ty_nav {
  display: none;
}
.dsc_bot_info {
  font-size: 0;
  margin-left: -40px;
  margin-top: -12px;
}
.dsc_bot_info_item {
  display: inline-flex;
  vertical-align: top;
  margin-left: 40px;
  margin-top: 12px;
  font-size: 16px;
  line-height: 1.5;
}
.dsc_bot_info_item:first-child {
  width: 100%;
}
.dsc_bot_info_item strong {
  position: relative;
  padding-right: 11px;
  margin-right: 10px;
}
.dsc_bot_info_item strong::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 14px;
  background-color: #ccc;
  right: 0;
  top: 50%;
  margin-top: -7px;
}

.btn_top {
  position: fixed;
  z-index: 99;
  right: 50px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #3b1e9e;
  background-image: url(../../images/icon-ionic-ios-arrow-up.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.dsc_process {
  position: relative;
}
.dsc_process_sec {
  padding-left: 30px;
  position: relative;
  padding-bottom: 60px;
}
.dsc_process_sec:last-child {
  padding-bottom: 0;
}
.dsc_process_sec::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3b1e9e;
  left: 0;
  top: 10px;
  transform: scale(0);
}
.dsc_process_sec::after {
  content: "";
  position: absolute;
  width: 1px;
  left: 7px;
  top: 10px;
  bottom: 100%;
  background-color: #3b1e9e;
}
.dsc_process_sec.gogo::before {
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}
.dsc_process_sec.gogo::after {
  transition: all 0.8s 0.5s ease-in-out;
  bottom: -10px;
}
.dsc_process_tit {
  display: block;
  font-family: "Godo";
  font-weight: bold;
  color: #3b1e9e;
  font-size: 24px;
  line-height: 1.42;
  letter-spacing: -0.01em;
}
.dsc_process_item {
  margin-top: 30px;
}
.dsc_process_item_tit {
  display: block;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: -0.01em;
  color: #222;
}
.dsc_process_item_txt {
  display: block;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: -0.01em;
  color: #666;
  margin-top: 6px;
}

.sub_tab {
  margin-bottom: 35px;
}
.sub_tab_list {
  display: flex;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.sub_tab_item {
  flex: 1;
  width: 25%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}
.sub_tab_item a {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  padding: 10px;
  text-align: center;
  color: #666;
  box-sizing: border-box;
  min-height: 64px;
  word-break: normal;
}
.sub_tab_item.on {
  background-color: #3b1e9e;
}
.sub_tab_item.on a {
  color: #fff;
  font-weight: bold;
}

.list_bm_item {
  display: flex;
  align-items: flex-start;
}
.list_bm_item + .list_bm_item {
  margin-top: 70px;
}
.list_bm_item .img_box {
  width: 295px;
  margin-right: 35px;
  flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #dde2f1;
  box-sizing: border-box;
}
.list_bm_item .img_box img {
  width: 100%;
}
.list_bm_item .txt_box {
  flex: 1;
  min-width: 0;
}
.list_bm_item .txt_box .list_bm_tit {
  display: block;
  font-size: 22px;
  line-height: 1.36;
  letter-spacing: -0.01em;
  color: #222;
}
.list_bm_item .txt_box .desc {
  margin-top: 7px;
  font-size: 18px;
  line-height: 1.44;
  letter-spacing: -0.01em;
  color: #666;
}
.list_bm_item .txt_box .supporter {
  display: flex;
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: -0.01em;
  color: #666;
}
.list_bm_item .txt_box .supporter .label {
  position: relative;
  padding-left: 12px;
  margin-right: 15px;
  color: #5032b7;
}
.list_bm_item .txt_box .supporter .label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  bottom: 4px;
  width: 4px;
  background-color: #3b1e9e;
}
.list_bm_item .txt_box .tag_area {
  margin-top: 20px;
}

.tag_area .tags {
  margin-left: -6px;
  margin-top: -6px;
  font-size: 0;
}
.tag_area .tags .tag_item {
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  box-sizing: border-box;
  border: 1px solid #c8d6ff;
  background-color: #f2f5fe;
  color: #5032b7;
  font-weight: 600;
  margin-left: 6px;
  margin-top: 6px;
  line-height: 35px;
  font-size: 15px;
  letter-spacing: -0.01em;
  border-radius: 18px;
}

.bm_kw {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 30px;
  border-radius: 15px;
  border: 1px solid #d9e3ff;
  background-color: #f2f5fe;
  padding: 20px;
  padding-right: 10px;
  width: 220px;
  box-sizing: border-box;
}
.bm_kw_wrap {
  position: relative;
  width: 1240px;
  z-index: 100;
}
.bm_kw_wrap.fixed {
  position: fixed;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.bm_kw_wrap .btn_bm_kw {
  display: none;
}
@media (max-width: 1800px) {
  .bm_kw_wrap {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 100;
  }
  .bm_kw_wrap.on {
    right: 0;
  }
  .bm_kw_wrap.fixed {
    left: 0;
    transform: translateX(0);
  }
  .bm_kw_wrap .bm_kw {
    border-radius: 0 0 0 15px;
    left: auto;
    right: -300px;
    transition: right 0.4s ease-in-out;
    width: 300px;
    margin-left: 0;
  }
  .bm_kw_wrap .bm_kw.on {
    right: 0;
  }
  .bm_kw_wrap .bm_kw.on .btn_bm_kw::after {
    transform: rotate(-180deg);
  }
  .bm_kw_wrap .bm_kw .btn_bm_kw {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 100%;
    margin-right: -1px;
    top: -1px;
    width: 50px;
    height: 50px;
    border-radius: 15px 0 0 15px;
    border: 1px solid #d9e3ff;
    border-right: none;
    background-color: #f2f5fe;
  }
  .bm_kw_wrap .bm_kw .btn_bm_kw::after {
    content: "";
    width: 7px;
    height: 12px;
    background-image: url(../../images/icon-ionic-ios-arrow-left.svg);
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.4s ease-in-out;
  }
}
.bm_kw_list {
  max-height: 75vh;
  padding-right: 10px;
  overflow-y: auto;
}
.bm_kw_item + .bm_kw_item {
  margin-top: 20px;
  padding-top: 19px;
  border-top: 1px solid #d9e3ff;
}
.bm_kw_tit {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1.5;
  font-weight: bold;
  color: #5032b7;
  letter-spacing: -0.01em;
}
.bm_kw_ico {
  margin-right: 10px;
}
.bm_kw_desc {
  margin-top: 15px;
  font-size: 14px;
  color: #777;
  letter-spacing: -0.01em;
  line-height: 1.5;
}

.contact_form {
  position: relative;
  z-index: 1;
  padding: 40px 40px 60px;
  background-color: #fff;
  border-top: 4px solid #5032b7;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
}
.contact_form_item {
  display: flex;
}
.contact_form_item + .contact_form_item {
  margin-top: 20px;
}
.contact_form_tit {
  width: 150px;
  flex-shrink: 0;
  font-size: 24px;
  line-height: 52px;
}
.contact_form_input {
  display: block;
  width: 100%;
  max-width: 500px;
  background-color: #f3f6ff;
  border-radius: 26px;
  height: 52px;
  line-height: 52px;
  font-size: 18px;
  padding: 0 30px;
  border: none;
  box-sizing: border-box;
}
.contact_form_ta {
  display: block;
  width: 100%;
  background-color: #f3f6ff;
  border-radius: 20px;
  font-size: 18px;
  line-height: 1.6;
  padding: 15px 30px;
  height: 270px;
  overflow-y: auto;
  border: none;
  box-sizing: border-box;
}

.btn_area.ty_bot {
  margin-top: 50px;
}
.btn.btn_submit {
  display: inline-block;
  border: none;
  vertical-align: top;
  width: 220px;
  height: 68px;
  line-height: 66px;
  background-color: #5032b7;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  border-radius: 10px;
}

@media (max-width: 1800px) {
  .bm_wrap {
    position: relative;
  }
  .bm_kw_sec {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
@media (max-width: 1460px) {
  .header {
    padding: 0 0 0 50px;
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 0 30px;
  }
  .header.hover {
    background-color: transparent;
  }
  .header.hover .logo {
    background-image: url(../../images/logo_w.svg);
  }
  .header .btn_nav {
    display: flex;
  }
  .header .nav {
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    right: -60%;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    padding-top: 120px;
    padding-bottom: 173px;
    transition: right 0.4s ease-in-out;
  }
  .header .nav.on {
    right: 0;
  }
  .header .nav_list {
    display: block;
    padding: 0 50px;
    height: 100%;
    overflow-y: auto;
  }
  .header .nav_item {
    border-bottom: 1px solid #dedede;
  }
  .header .nav_item:last-child {
    border-bottom: none;
  }
  .header .nav_item.has_dep2 .nav_link {
    display: none;
  }
  .header .nav_item.has_dep2.on .nav_dep2 {
    max-height: 200px;
  }
  .header .nav_item.has_dep2.on .nav_btn_dep2::before {
    transform: rotate(180deg);
  }
  .header .nav_item:hover .nav_link {
    color: #222;
  }
  .header .nav_link {
    padding: 0;
    font-size: 20px;
    line-height: 67px;
    color: #222;
    font-weight: bold;
  }
  .header .nav_link::after {
    display: none;
  }
  .header.sub .nav_link.on {
    color: #222;
  }
  .header .nav_btn_dep2 {
    display: block;
    font-size: 20px;
    line-height: 67px;
    font-weight: bold;
    color: #222;
    position: relative;
    width: 100%;
    text-align: left;
  }
  .header .nav_btn_dep2::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 15px;
    height: 9px;
    margin-top: -4.5px;
    background-image: url(../../images/icon-dep2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: all 0.2s ease-in-out;
  }
  .header .nav_dep2 {
    display: block;
    background-color: #f8f8f8;
    height: auto;
    overflow: hidden;
    max-height: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
  }
  .header .nav_dep2_list {
    padding: 20px;
    border-top: 1px solid #dedede;
  }
  .header .nav_dep2_link {
    display: block;
    font-size: 15px;
    line-height: 2.4;
    letter-spacing: -0.03em;
  }
  .header .nav_dep2_link.on {
    font-weight: bold;
  }
  .inner {
    padding: 0 30px;
  }
  .sub_tab_item a {
    font-size: 17px;
  }
  .main_txt_tit {
    font-size: 50px;
  }
  .main_txt_desc {
    font-size: 26px;
  }
  .dsc_bot {
    padding: 20px 0;
  }
  .dsc_bot.ty_nav {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    border-top: none;
  }
  .dsc_bot_info {
    margin-left: 0;
    margin-top: 0;
  }
  .dsc_bot_info_item {
    display: flex;
    margin-left: 0;
    margin-top: 0;
    font-size: 14px;
  }
  .dsc_bot_info_item + .dsc_bot_info_item {
    margin-top: 4px;
  }
  .dsc_bot_info_item:first-child {
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .dsc_bot_info_item:first-child strong {
    width: auto;
  }
  .dsc_bot_info_item:first-child p {
    margin-top: 4px;
  }
  .dsc_bot_info_item strong {
    width: 66px;
    padding-right: 0;
    margin-right: 0;
  }
  .dsc_bot_info_item strong::after {
    display: none;
  }
  .dsc_bot_info_item p {
    color: #666;
  }
  .card_list.ty_ptn {
    margin-top: -20px;
  }
  .card_list.ty_ptn .card_item {
    width: 50%;
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0 20px;
    height: 60px;
  }
  .header.hover .logo {
    background-image: url(../../images/logo_w_m.svg);
  }
  .header .logo {
    width: 170px;
    height: 60px;
    background-image: url(../../images/logo_w_m.svg);
  }
  .header.on .logo {
    background-image: url(../../images/logo_m.svg);
  }
  .header.sub .logo {
    background-image: url(../../images/logo_m.svg);
  }
  .header .nav {
    width: 100%;
    right: -100%;
    box-shadow: none;
    padding-top: 80px;
    padding-bottom: 157px;
  }
  .header .nav_list {
    padding: 0 30px;
  }
  .header .nav_link, .header .nav_btn_dep2 {
    line-height: 60px;
    height: 60px;
    font-size: 19px;
  }
  .header .btn_nav {
    left: 14px;
  }
  #container.sub {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  #container.sub.pb0 {
    padding-bottom: 0;
  }
  .main_txt {
    position: absolute;
    transform: translateY(0);
    text-align: left;
    padding: 0 35px;
    box-sizing: border-box;
    top: 100px;
  }
  .main_txt .m_only {
    display: block;
  }
  .main_txt .pc_only {
    display: none;
  }
  .main_txt_tit {
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: -0.065px;
  }
  .main_txt_desc {
    margin-top: 1em;
    font-size: 14px;
    letter-spacing: -0.35px;
  }
  .sub_sec {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .sub_sec.bg_grey {
    padding: 50px 0;
  }
  .sub_sec.bg_sblue::after {
    height: 75%;
  }
  .sub_sec.ty_contact {
    padding: 30px 0 80px;
  }
  .inner {
    padding: 0 20px;
  }
  .tit_set {
    margin-bottom: 30px;
  }
  .tit_set.ty_1 {
    text-align: center;
  }
  .tit_set .tit1 {
    font-size: 24px;
  }
  .tit_set .tit2 {
    font-size: 18px;
  }
  .tit_set .desc {
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
  }
  .sub_tab_list {
    flex-wrap: wrap;
    margin-left: -21px;
    margin-right: -21px;
  }
  .sub_tab_item {
    width: 50%;
    flex-shrink: 0;
    flex: auto;
  }
  .sub_tab_item a {
    font-size: 14px;
    min-height: 48px;
  }
  .bm_kw_wrap.fixed {
    top: 80px;
  }
  .bm_kw_wrap .bm_kw .btn_bm_kw {
    width: 30px;
    height: 40px;
  }
  .list_bm_item {
    display: block;
  }
  .list_bm_item + .list_bm_item {
    margin-top: 50px;
  }
  .list_bm_item .img_box {
    width: 100%;
    margin-bottom: 16px;
  }
  .list_bm_item .txt_box .list_bm_tit {
    font-size: 18px;
  }
  .list_bm_item .txt_box .desc {
    font-size: 14px;
  }
  .list_bm_item .txt_box .supporter {
    font-size: 14px;
  }
  .list_bm_item .txt_box .tag_area {
    margin-top: 15px;
  }
  .tag_area .tags .tag_item {
    font-size: 14px;
    line-height: 32px;
    padding: 0 12px;
  }
  .btn_top {
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
    background-size: 14px;
  }
  .col_list {
    display: block;
  }
  .col_list .col {
    width: 100%;
  }
  .card_list.ty_intro {
    margin-top: 50px;
  }
  .card_list.ty_intro .card_item + .card_item {
    margin-top: 40px;
  }
  .card_list.ty_ptn {
    margin-top: 0;
  }
  .card_list.ty_ptn .card_item {
    width: 100%;
    margin-top: 0;
  }
  .card_list.ty_ptn .card_item + .card_item {
    margin-top: 30px;
  }
  .card_item {
    transition-delay: 0s !important;
  }
  .card_txt {
    padding-top: 15px;
  }
  .card_txt.ty2 {
    padding: 13px 15px 20px;
  }
  .card_txt.ty2 .card_tit {
    font-size: 18px;
  }
  .card_txt.ty2 .card_desc {
    margin-top: 10px;
  }
  .card_tit {
    font-size: 18px;
  }
  .card_desc {
    font-size: 14px;
    margin-top: 5px;
  }
  .dsc_info {
    margin: 0 -20px;
  }
  .dsc_info_tit {
    font-size: 14px;
  }
  .dsc_info_year {
    font-size: 13px;
    margin-top: 20px;
  }
  .dsc_info_count .count_box {
    font-size: 35px;
  }
  .dsc_info_count .count_unit {
    font-size: 13px;
  }
  .dsc_process_sec {
    padding-left: 22px;
    padding-bottom: 40px;
  }
  .dsc_process_sec::before {
    width: 11px;
    height: 11px;
    top: 7px;
  }
  .dsc_process_sec::after {
    left: 5px;
    top: 7px;
  }
  .dsc_process_tit {
    font-size: 18px;
  }
  .dsc_process_item {
    margin-top: 20px;
  }
  .dsc_process_item_tit {
    font-size: 16px;
  }
  .dsc_process_item_txt {
    font-size: 14px;
  }
  .contact_form {
    padding: 23px 20px 25px;
  }
  .contact_form_item {
    display: block;
  }
  .contact_form_tit {
    display: block;
    width: auto;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 10px;
  }
  .contact_form_input {
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    border-radius: 18px;
  }
  .contact_form_ta {
    padding: 10px 15px;
    font-size: 14px;
    height: 200px;
  }
  .btn_area.ty_bot {
    margin-top: 25px;
  }
  .btn.btn_submit {
    font-size: 18px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    line-height: 48px;
  }
  .dsc_bot {
    padding: 15px 0;
    display: none;
  }
  .dsc_bot .inner {
    padding: 0 30px;
  }
  .dsc_bot_info_item {
    font-size: 13px;
    color: #999;
  }
  .dsc_bot_info_item strong {
    width: 60px;
    color: #999;
  }
  .dsc_bot_info_item p {
    color: #999;
  }
}