// Breakpoints
$breakpoint-m: 768px;
$breakpoint-t: 1024px;
$breakpoint-pc_h: 1460px;
$breakpoint-pc_bm: 1800px;

/* colors */
$colors: (
    key: #5032b7,
    blue: #1e90ff,
    red: #f00,
    lblue: #46b8ff,
    orange: #ff7328,
    green: #50c785,
    yellow: #ff0,
    purple: #3b1e9e
);


