@import url(reset.css);
@import url(font.css);
@import url(swiper-bundle.min.css);
@import url(jquery-ui.min.css);



@import '_mixin';
@import '_anibox';


#wrap {
    overflow: hidden;
}


.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid rgba(#fff, .3);
    z-index: 9999;

    .logo {
        width: 184px;
        height: 66px;
        background-image: url(../../images/logo_w.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        position: relative;
        z-index: 10;
        transition: background-image .4s ease-in-out;
    }

    .btn_nav {
        display: none;
        position: relative;
        z-index: 10;
        width: 50px;
        height: 50px;

        align-items: center;
        justify-content: center;
        .bar_box {
            position: relative;
            width: 21px;
            height: 19px;
            .bar {
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: #fff;
                border-radius: 2px;
                right: 0;
                transition: all .4s ease-in-out;
                &.bar_top {
                    top: 0;
                }
                &.bar_mid {
                    top: 8px;
                }
                &.bar_bot {
                    top: 16px;
                }
            }
        }
        &.on {
            .bar_box {
                .bar {
                    &.bar_top {
                        top: 8px;
                        transform: rotate(45deg);
                    }
                    &.bar_mid {
                        width: 0;
                    }
                    &.bar_bot {
                        top: 8px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }


    .nav {
        &_list {
            display: flex;
            align-items: center;
        }
        &_link {
            display: block;
            position: relative;
            padding: 0 50px;
            font-size: 24px;
            line-height: 120px;
            color: #fff;
            transition: color .2s ease-in-out;
            font-weight: 500;
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0%;
                height: 3px;
                background-color: #ff7328;
                transition: width .2s ease-in-out;

            }
            &:hover {
                color: #ff7328;
                &::after {
                    width: 100%;
                }
            }
        }
        &_btn_dep2, &_dep2 {
            display: none;
        }
    }

    &.sub {
        border-bottom: 1px solid rgba(#000, .1);
        .logo {
            background-image: url(../../images/logo.svg);
        }
        background-color: #fff;
        .nav {
            &_link {
                color: #000;
                &::after {
                    background-color: #5032b7;
                }
                &:hover {
                    color: #5032b7;
                }
                &.on {
                    color: #5032b7;
                }
            }
        }
        .btn_nav {
            .bar_box {
                .bar {
                    background-color: #222;
                }
            }
        }
    }
    &.on {
        .btn_nav {
            .bar_box {
                .bar {
                    background-color: #222;
                }
            }
        }
    }
}

.body_main {
    background-color: #000;
}
.container {
    &.sub {
        padding-top: 120px;
    }
}
.inner {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 50px;
}

.sub_sec {
    padding: 80px 0;
    &.bg_grey {
        background-color: #f8f8f8;
    }
    &.bg_sblue {
        position: relative;
        &::after {
            content:'';
            position: absolute;
            width: 100vw;
            height: 231px;
            background-color: #ebf0ff;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
    &.ty_contact {
        position: relative;
        padding: 80px 0 120px;
        overflow: hidden;
        &::before {
            content:'';
            position: absolute;
            width: 100%;
            height: 50%;
            bottom: 0;
            left: 0;
            background-color: #ebf0ff;
        }
    }
}

.bg_box {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(#000, .4);
    }
    img, video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        touch-action: none;
        pointer-events: none;
    }
}

.main_txt {
    position: fixed;
    width: 100%;
    left: 0;
    top: 50%;
    transform:translateY(-50%);
    color: #fff;
    z-index: 10;
    text-align: center;
    .m_only {
        display: none;
    }
    &_tit {
        font-size: 60px;
        line-height: 1.6;
        letter-spacing: -0.01em;
    }
    &_desc {
        font-size: 30px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        margin-top: 0.75em;
    }
}


.tit_set {

    margin-bottom: 60px;
    .tit1 {
        font-size: 34px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #5032b7;
        & + .desc {
            margin-top: 30px;
        }
    }
    .tit2 {
        font-size: 26px;
        line-height: 1.5;
    }
    .desc {
       font-size: 20px;
       line-height: 1.5;
       letter-spacing: -0.01em;
       color: #666;
       margin-top: 20px;
    }
}

.col_list {
    display: flex;
    flex-wrap: wrap;
    @for $i from 2 through 10 {
        &#{$i} {
            .col {
                width: percentage(1/$i);
            }
        }
    }
}

.card {
    &_list {
        margin: 0 -10px;
    }
    &_item {
        padding: 0 10px;
        box-sizing: border-box;

        /* delay */
        &.gogo {
            @for $i from 1 through 10 {
                &.delay_#{$i} {
                    transition-delay: ($i/10)+s
                }
            }
        }
    }
    &_box {
        overflow: hidden;
        background-color: #fff;
        &:hover {
            .card_img {
                img {
                    transform: scale(1.04);
                }
            }
        }
        &.ty_border {
            height: 100%;
            border: 1px solid #c8d6ff;
            border-radius: 20px;
        }
    }
    &_img {
        overflow: hidden;
        &.ty_radius {
            border-radius: 20px;
        }
        img {
            transition: all .4s ease-in-out;
        }
    }


    &_txt {
        text-align: center;
        padding-top: 25px;
        &.ty2 {
            padding: 24px 20px 35px;
            .card_tit {
                font-size: 20px;
                line-height: 1.5;
                letter-spacing: -0.05em;
                color: #3b1e9e;
            }
            .card_desc {
                font-size: 14px;
                line-height: 1.5;
                margin-top: 15px;
                color: #666;
            }
        }
    }
    &_tit {
        font-size: 24px;
        line-height: 1.5;
        color: #222;

    }
    &_desc {
        margin-top: 10px;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: -0.01em;
        color: #666;
    }


}


.dsc_info {
    display: flex;
    &_item {
        width: 50%;
    }
    &_item {
        text-align: center;
    }
    &_tit {
        margin-top: 12px;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #666;
        font-weight: bold;
    }
    &_year {
        margin-top: 35px;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: -0.01em;
        color: #666;
    }
    &_count {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: 10px;
        .count_box {
            font-size: 60px;
            line-height: 1;
            font-weight: 900;
            letter-spacing: -0.04em;
            margin-right: 0.1em;
        }
        .count_unit {
            font-size: 20px;
            line-height: 2;
        }
    }

}

.dsc_bot {
    border-top: 1px solid #ebebeb;
    padding: 30px 0;
    position: relative;
    background-color: #fff;
    z-index: 10;
    &_info {
        font-size: 0;
        margin-left: -40px;
        margin-top: -12px;
        &_item {
            display: inline-flex;
            vertical-align: top;
            margin-left: 40px;
            margin-top: 12px;
            font-size: 16px;
            line-height: 1.5;
            &:first-child {
                width: 100%;
            }
            strong {
                position: relative;
                padding-right: 11px;
                margin-right: 10px;
                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 14px;
                    background-color: #ccc;
                    right: 0;
                    top: 50%;
                    margin-top: -7px;
                }
            }
        }
    }
}

.btn_top {
    position: fixed;
    z-index: 99;
    right: 50px;
    bottom: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: map-get($colors, purple);
    background-image: url(../../images/icon-ionic-ios-arrow-up.svg);
    background-repeat: no-repeat;
    background-position: center center;

}

.dsc_process {
    position: relative;

    &_sec {
        padding-left: 30px;
        position: relative;
        padding-bottom: 60px;
        &:last-child {
            padding-bottom: 0;
        }
        &::before {
            content:'';
            position: absolute;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: map-get($colors, purple);
            left: 0;
            top: 10px;
            transform: scale(0);
        }
        &::after {
            content: '';
            position: absolute;
            width: 1px;

            left: 7px;
            top: 10px;
            bottom: 100%;
            background-color: map-get($colors, purple);
        }
        &.gogo {
            &::before {
                transition: all .5s ease-in-out;
                transform:scale(1);
            }
            &::after {
                transition: all .8s .5s ease-in-out;
                bottom: -10px;
            }
        }
    }
    &_tit {
        display: block;
        font-family: 'Godo';
        font-weight: bold;
        color: map-get($colors, purple);
        font-size: 24px;
        line-height: 1.42;
        letter-spacing: -0.02em;
    }
    &_item {
        margin-top: 30px;
        &_tit {
            display: block;
            font-size: 20px;
            line-height: 1.7;
            letter-spacing: -0.02em;
            color: #222;
        }
        &_txt {
            display: block;
            font-size: 18px;
            line-height: 1.56;
            letter-spacing: -0.02em;
            color: #666;
            margin-top: 6px;
        }
    }
}



.sub_tab {
    margin-bottom: 35px;
    &_list {
        display: flex;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    &_item {
        flex: 1;
        width: 25%;
        border-top: 1px solid #ccc;
        border-left: 1px solid #ccc;
        box-sizing: border-box;
        a {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            line-height: 1.5;
            letter-spacing: -0.02em;
            padding: 10px;
            text-align: center;
            color: #666;
            box-sizing: border-box;
            min-height: 64px;
            word-break: normal;

        }
        &.on {
            background-color: map-get($colors, purple);
            a {
                color: #fff;
                font-weight: bold;
            }
        }
    }
}

.list_bm {
    &_item {
        display: flex;
        align-items: flex-start;
        & + & {
            margin-top: 70px;
        }
        .img_box {
            width: 295px;
            margin-right: 35px;
            flex-shrink: 0;
            border-radius: 20px;
            overflow: hidden;
        }
        .txt_box {
            flex: 1;
            min-width: 0;
            .list_bm_tit {
                display: block;
                font-size: 22px;
                line-height: 1.36;
                letter-spacing: -0.03em;
                color: #222;
            }
            .desc {
                margin-top: 7px;
                font-size: 18px;
                line-height: 1.44;
                letter-spacing: -0.03em;
                color: #666;
            }
            .supporter {
                display: flex;
                margin-top: 15px;
                font-size: 18px;
                line-height: 1.56;
                letter-spacing: -0.03em;
                color: #666;
                .label {
                    position: relative;
                    padding-left: 12px;
                    margin-right: 15px;
                    color: #222;
                    &::before {
                        content:'';
                        position: absolute;
                        left: 0;
                        top: 6px;
                        bottom: 4px;
                        width: 4px;
                        background-color: map-get($colors, purple);
                    }
                }
            }
            .tag_area {
                margin-top: 20px;
            }
        }
    }
}


.tag_area {
    .tags {
        margin-left: -6px;
        margin-top: -6px;
        font-size: 0;
        .tag_item {
            display: inline-block;
            vertical-align: top;
            padding: 0 15px;
            box-sizing: border-box;
            border: 1px solid #c8d6ff;
            background-color: #f2f5fe;
            color: map-get($colors, purple);
            margin-left: 6px;
            margin-top: 6px;
            line-height: 35px;
            font-size: 15px;
            letter-spacing: -0.02em;
            border-radius: 18px;
        }
    }
}


.bm_kw {
    &_wrap {
        position: relative;
        width: 1240px;
        z-index: 100;
        &.fixed {
            position: fixed;
            top: 140px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 999;
        }
        .btn_bm_kw {
            display: none;
        }
        @include pc_bm {
            position: absolute;
            width: 100%;
            left: 0;
            z-index: 100;

            &.on {
                right: 0;
            }
            &.fixed {
                left: 0;
                transform: translateX(0);
            }
            .bm_kw {
                border-radius: 0 0 0 15px;
                left: auto;
                right: -300px;
                transition: right .4s ease-in-out;
                width: 300px;
                margin-left: 0;
                &.on {
                    right: 0;
                }
                .btn_bm_kw {
                    display: block;
                    position: absolute;
                    right: 100%;
                    margin-right: -1px;
                    top: -1px;
                    width: 50px;
                    height: 50px;
                    border-radius: 15px 0 0 15px;
                    border: 1px solid #d9e3ff;
                    border-right: none;
                    background-color: #f2f5fe;
                    background-image: url(../../images/icon-ionic-ios-arrow-left.svg);
                    background-repeat: no-repeat;
                    background-position: center center;

                }
            }
        }
    }




    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 30px;
    border-radius: 15px;
    border: 1px solid #d9e3ff;
    background-color: #f2f5fe;
    padding: 20px;
    padding-right: 10px;
    width: 220px;
    box-sizing: border-box;

    &_list {
        max-height: 75vh;
        padding-right: 10px;
        overflow-y: auto;
    }

    &_item {
        & + & {
            margin-top: 20px;
            padding-top: 19px;
            border-top: 1px solid #d9e3ff;
        }
    }
    &_tit {
        display: flex;
        align-items: center;
        font-size: 15px;
        line-height: 1.5;
        font-weight: bold;
        color: $c_key;
        letter-spacing: -0.02em;
    }
    &_ico {
        margin-right: 10px;
    }
    &_desc {
        margin-top: 15px;
        font-size: 14px;
        color: #777;
        letter-spacing: -0.02em;
        line-height: 1.5;
    }
}


.contact_form {
    position: relative;
    z-index: 1;
    padding: 40px 40px 60px;
    background-color: #fff;
    border-top: 4px solid $c_key;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);

    &_item {
        display: flex;
        & + & {
            margin-top: 20px;
        }
    }
    &_tit {
        width: 150px;
        flex-shrink: 0;
        font-size: 24px;
        line-height: 52px;
    }
    &_input {
        display: block;
        width: 100%;
        max-width: 500px;
        background-color: #f3f6ff;
        border-radius: 26px;
        height: 52px;
        line-height: 52px;
        font-size: 18px;
        padding: 0 30px;
        border: none;
        box-sizing: border-box;
    }
    &_ta {
        display: block;
        width: 100%;
        background-color: #f3f6ff;
        border-radius: 20px;
        font-size: 18px;
        line-height: 1.6;
        padding: 15px 30px;
        height: 270px;
        overflow-y: auto;
        border: none;
        box-sizing: border-box;
    }
}


.btn {
    &_area {
        &.ty_bot {
            margin-top: 50px;
        }
    }
    &.btn_submit {
        display: inline-block;
        border: none;
        vertical-align: top;
        width: 220px;
        height: 68px;
        line-height: 66px;
        background-color: $c_key;
        color: #fff;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        border-radius: 10px;
    }
}

@include pc_bm {
    .bm_wrap {
        position: relative;
    }
    .bm_kw_sec {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}

@include pc_h {
    .header {
        padding: 0 0 0 50px;
    }
}

@include tablet {
    .header {
        padding: 0 30px;

        .btn_nav {
            display: flex;
        }
        .nav {
            position: fixed;
            width: 50%;
            height: 100%;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(#000, .1);
            right: -60%;
            top: 0;
            height: 100%;
            box-sizing: border-box;
            padding: 0 50px;
            padding-top: 120px;
            transition: right .4s ease-in-out;
            &.on {
                right: 0;
            }
            &_list {
                display: block;
            }
            &_item {
                border-bottom: 1px solid #dedede;
                &.has_dep2 {
                    .nav_link {
                        display: none;
                    }
                    &.on {
                        .nav_dep2 {
                            max-height: 200px;
                        }
                    }
                }
                &:hover {
                    .nav_link {
                        color: #222;
                    }
                }
            }
            &_link {
                padding: 0;
                font-size: 20px;
                line-height: 67px;
                color: #222;

                &::after {
                    display: none;
                }
            }
            &_btn_dep2 {
                display: block;
                font-size: 20px;
                line-height: 67px;
                font-weight: 500;
                color: #222;
                position: relative;
                width: 100%;
                text-align: left;
                &::before {
                    content:'';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 15px;
                    height: 9px;
                    background-image: url(../../images/icon-dep2.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }
            }
            &_dep2 {
                display: block;

                background-color: #f8f8f8;
                height: auto;
                overflow: hidden;
                max-height: 0;
                box-sizing: border-box;
                transition: all .2s ease-in-out;
                &_list {
                    padding: 20px;
                    border-top: 1px solid #dedede;
                }
                &_link {
                    display: block;
                    font-size: 15px;
                    line-height: 2.4;
                    letter-spacing: -0.03em;
                }
            }
        }
    }
    .inner {
        padding: 0 30px;
    }
    .sub_tab {
        &_item {
            a {
                font-size: 17px;
            }
        }
    }
}

@include mobile {
    .header {
        padding: 0 20px;
        height: 60px;
        .logo {
            width: 170px;
            height: 60px;
            background-image: url(../../images/logo_w_m.svg);
        }
        &.on {
            .logo {
                background-image: url(../../images/logo_m.svg);
            }

        }
        &.sub {
            .logo {
                background-image: url(../../images/logo_m.svg);
            }
        }
        .nav {
            width: 100%;
            right: -100%;
            box-shadow: none;
            padding: 0 30px;
            padding-top: 80px;
        }
        .btn_nav {
            left: 14px;
        }
    }
    #container {
        &.sub {
            padding-top: 60px;
            padding-bottom: 30px;
            &.pb0 {
                padding-bottom: 0;
            }
        }
    }

    .main_txt {
        .m_only {
            display: block;
        }
        &_tit {
            font-size: 36px;
            line-height: 1.4;
        }
        &_desc {
            margin-top: 1em;
            font-size: 19px;
        }
    }



    .sub_sec {
        padding-top: 30px;
        padding-bottom: 50px;
        &.bg_grey {
            padding: 50px 0;
        }
        &.bg_sblue {
            &::after {
                height: 75%;
            }
        }
        &.ty_contact {
            padding: 30px 0 80px;
        }
    }
    .inner {
        padding: 0 20px;
    }



    .tit_set {
        margin-bottom: 30px;
        &.ty_1 {
            text-align: center;

        }
        .tit1 {
            font-size: 24px;
        }
        .tit2 {
            font-size: 18px;
        }
        .desc {
            font-size: 14px;
            margin-top: 10px;
        }
    }

    .sub_tab {
        &_list {
            flex-wrap: wrap;
            margin-left: -21px;
            margin-right: -21px;
        }

        &_item {
            width: 50%;
            flex-shrink: 0;
            flex: auto;
            a {
                font-size: 14px;
                min-height: 48px;
            }
        }
    }


    .bm_kw {
        &_wrap {
            &.fixed {
                top: 80px;
            }
            .bm_kw {
                .btn_bm_kw {
                    width: 30px;
                    height: 40px;
                }
            }
        }
    }
    .list_bm {
        &_item {
            display: block;
            & + & {
                margin-top: 50px;
            }
            .img_box {
                width: 100%;
                margin-bottom: 16px;
            }
            .txt_box {
                .list_bm_tit {
                    font-size: 18px;
                }
                .desc {
                    font-size: 14px;
                }
                .supporter {
                    font-size: 14px;
                }
                .tag_area {
                    margin-top: 15px;
                }
            }
        }
    }
    .tag_area {
        .tags {
            .tag_item {
                font-size: 14px;
                line-height: 32px;
                padding: 0 12px;
            }
        }
    }
    .btn_top {
        width: 40px;
        height: 40px;
        right: 20px;
        bottom: 20px;
        background-size: 14px;
    }

    .col_list {
        display: block;
        .col {
            width: 100%;
        }
    }
    .card {
        &_list {
            &.ty_intro {
                margin-top: 50px;
                .card_item {
                    & + .card_item {
                        margin-top: 40px;
                    }
                }
            }
            &.ty_ptn {
                .card_item {
                    & + .card_item {
                        margin-top: 30px;
                    }
                }
            }
        }

        &_item {
            transition-delay: 0s !important;
        }

        &_txt {
            padding-top: 15px;
            &.ty2 {
                padding: 13px 15px 20px;
                .card_tit {
                    font-size: 18px;
                }
                .card_desc {
                    margin-top: 10px;
                }
            }
        }
        &_tit {
            font-size: 18px;
        }
        &_desc {
            font-size: 14px;
            margin-top: 5px;
        }
    }
    .dsc_info {
        margin: 0 -20px;
        &_tit {
            font-size: 14px;
        }
        &_year {
            font-size: 13px;
            margin-top: 20px;
        }
        &_count {
            .count_box {
                font-size: 35px;
            }
            .count_unit {
                font-size: 13px;
            }
        }
    }

    .dsc_process {
        &_sec {
            padding-left: 22px;
            padding-bottom: 40px;
            &::before {
                width: 11px;
                height: 11px;
                top: 7px;
            }
            &::after {
                left: 5px;
                top: 7px;
            }
        }
        &_tit {
            font-size: 18px;
        }
        &_item {
            margin-top: 20px;
            &_tit {
                font-size: 16px;
            }
            &_txt {
                font-size: 14px;
            }
        }
    }

    .contact_form {
        padding: 23px 20px 25px;
        &_item {
            display: block;
        }
        &_tit {
            display: block;
            width: auto;
            font-size: 16px;
            line-height: 1.25;
            margin-bottom: 10px;
        }
        &_input {
            font-size: 14px;
            height: 36px;
            line-height: 36px;
            padding: 0 15px;
            border-radius: 18px;
        }
        &_ta {
            padding: 10px 15px;
            font-size: 14px;
            height: 200px;
        }
    }
    .btn_area {
        &.ty_bot {
            margin-top: 25px;
        }
    }
    .btn {
        &.btn_submit {
            font-size: 18px;
            border-radius: 5px;
            width: 150px;
            height: 50px;
            line-height: 48px;
        }
    }
    .dsc_bot {
        padding: 20px 0;
        &_info {
            margin-left: 0;
            margin-top: 0;
            &_item {
                display: flex;
                margin-left: 0;
                margin-top: 0;
                font-size: 14px;
                & + & {
                    margin-top: 15px;


                }

                &:first-child {
                    display: block;
                    border-bottom: 1px solid #eee;
                    padding-bottom: 15px;
                    strong {
                        margin-right: 0;
                        padding-right: 0;
                        &::after {
                            display: none;
                        }
                    }
                    p {
                        margin-top: 4px;
                    }
                }

                p {
                    color: #666;
                }
            }
        }

    }
}